body {
  margin: 0;
  font-family: "Public Sans", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.totalBayar {
  position: absolute;

  top: 1700px;
  right: 00px;
}
.buttonBayar {
  margin-right: 200px;
}
.imgBanner {
  margin-right: -200px;
}

.hero {
  padding-bottom: 7rem;
}
.myFloat {
  margin-top: 15px;
}

.card-img-top {
  width: 100%;
  height: 13vw;
  object-fit: cover;
}

.overflow-auto::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-height: 1000px) {
  .cart {
    height: 650px;
  }
  .menu {
    height: 730px;
  }
}

@media only screen and (max-width: 600px) {
  .imgBanner {
    margin-right: 0;
  }
  .hero {
    padding-bottom: 5rem;
  }
  .card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
  }
  .imgSukses {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .menu {
    height: 600px;
  }
  .cart {
    height: fit-content;
    max-height: 450px;
  }
}
